:root {
  --b-color: white;
  --tran: 250ms;
  --pad-wrap: 30px;
  --clr-line: #e5e5e5;
  --colorTxt: #303030;
  --colorTxtComment: #606060;
  --clr-hvr: #696464;
}

* {
  box-sizing: border-box;
}


/* .content {
  padding: var(--pad-wrap);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.b-link_nav {
  padding: var(--pad-wrap);
}

.b-link__ol {
  display: flex;
  list-style: none;
  align-items: center;
}

.li__separator {
  color: var(--colorTxtComment);
  padding: 8px;
  font-size: 16px;
}

.b-link_nav__a {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 4.3rem;
  text-transform: uppercase;
  font-family: var(--f-family);
  color: var(--colorTxtComment);
  transition: var(--tran);
}

.b-link_nav__a:hover{
  text-decoration: underline;
}

.b-link_nav__a:active{
  box-shadow: inset 0px 0px 20px rgba(66, 63, 63, 0.2);
}

.content__txt_marg{
  /* margin-top: 50px; */
}

.content__txt {
  padding: 30px;
}

.content__txt__h2 {
  display: block;
  font-size: 3.6rem;
  letter-spacing: 0.2rem;
  line-height: 3.6rem;
  text-transform: uppercase;
  color: var(--colorTxt);
  font-family: var(--f-family);
  text-align: center;
}

.content__txt__h4 {
  display: block;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  line-height: 3.5rem;
  color: var(--colorTxtComment);
  font-style: italic;
  font-family: "Georgia";
  text-align: center;
  padding: 1rem;
}

.content__filter {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-evenly;
  padding: 0 var(--pad-wrap);
  height: 80px;
  position: relative;
}

.select__filter_input::-webkit-outer-spin-button,
.select__filter_input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.select-wrapper {
  position: relative;
  width: clamp(80px, 100%, 190px);
  margin-top: 15px;
}
@media screen and (max-width: 430px) {
  .select-posSize {
    position: absolute;
    top: 40px;
  }
  .select-posCost {
    position: absolute;
    top: 80px;
  }
}
.select_txt {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 16px;
  color: var(--colorTxtComment);
  font-style: italic;
  font-family: "Georgia";
}
.select_style {
  max-width: 200px;
  width: 100%;
  padding: 10px 45px;
  border-color: #aaa;
  border-radius: 3px;
}

/* .toggler_down {
  background-repeat: no-repeat;
  background-position: calc(100% - 0.25em) 0.35em;
  background-size: 0.85em auto;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80'%3E%3Cpath d='M70.3 13.8L40 66.3 9.7 13.8z' fill='%23000'%3E%3C/path%3E%3C/svg%3E");
} */
.fa-sort-desc {
  position: absolute;
  right: 0;
  top: 0;
}
.fa-sort-asc {
  position: absolute;
  right: 0;
  top: 7px;
}
.d-noneFa {
  display: none !important;
}

.select__filter_input {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.filter__cost {
  border-color: #aaa;
  border-radius: 10px;
}
.filter__cost_size {
  padding: 4px;
  padding-left: 10px;
  margin-top: 10px;
  width: clamp(80px, 100%, 180px);
}

.content__filter__dropdown {
  display: flex;
  flex-direction: column;
}

.btn_txt {
  font-size: 14px;
  letter-spacing: 1px;
  color: var(--colorTxtComment);
  font-family: "Georgia";
}

.dropdown__content {
}
.dropdownName {
  font-size: 16px;
  letter-spacing: 1px;
  color: var(--colorTxtComment);
  font-style: italic;
  font-family: "Georgia";
  border-bottom: 1px solid #303030;
  transition: var(--tran);
  cursor: pointer;
  user-select: none;
  position: relative;
}

.dropdownName_size {
  width: clamp(80px, 100%, 190px);
  padding: 3px;
}
.dropdown {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 36px;
  color: #040404;
  font-style: italic;
  font-family: "Georgia";
  transition: 0.25s;
  cursor: pointer;
  user-select: none;
  border-bottom: 1px solid rgb(64, 60, 60);
  background-color: #f2e8e8d9;
  position: relative;
}

.dropdown:hover {
  background-color: #a19b9b91;
}
.catalog {
  padding: var(--pad-wrap);
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  /* box-sizing: border-box; */
  gap: 30px;
}

/* .catalog__card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 220px;
  min-width: 100px;
  margin: 15px 0;
  cursor: pointer;
} */

.slider {
  width: 100%;
  overflow: hidden;
}

.slider__line {
  display: flex;
  transition:all 300ms;
  -moz-transition:all 300ms;
  -ms-transition:all 300ms;
  -o-transition:all 300ms;
  -webkit-transition:all 300ms;
}

.catalog__linkProduct {
  display: block;
}

.catalog__card:hover {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  transition: 0.25s;
}
.catalog__card:active {
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.2);
  transition: 0.25s;
}

.catalog__card__img {
  flex-shrink: 0;
  width: 220px;
  height: 222px;
  /* max-width: 220px; */
  /* min-width: 120px; */
  border: 1px solid #606060;
  background-color: white;
}

.catalog__card__name {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 24px;
  color: var(--colorTxt);
  font-family: var(--f-family);
  text-align: center;
}

.catalog__card__price {
  display: block;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 24px;
  color: var(--colorTxt);
  font-family: var(--f-family);
}

.b-pannel {
  display: flex;
  justify-content: center;
  padding-bottom: 250px;
}

.pannel {
  display: flex;
}

.pannel__link {
  width: 25px;
  height: 25px;
  border: 1px solid #303030;
  background-color: #303030;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--tran);
}

.pannel__a {
  color: white;
  margin: 4px;
}

.pannel__link:hover {
  background-color: var(--clr-hvr);
}

.link_select {
  background-color: white;
  color: black;
}

.b-show {
  display: block !important;
  animation: showBlock 0.35s linear forwards;
}

@keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* ************************************************ */

.catalog__card {
  position: relative;
  /* width: 200px;
  height: 200px; */
  margin: 50px auto 0;
  /* Чтобы во время перетаскивания слайда ничего не выделить внутри него */
  user-select: none;
  /* Чтобы запретить скролл страницы, если мы начали двигать слайдер по оси X */
  touch-action: pan-y;


  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 200px;
  min-width: 100px;
  margin: 15px 0;
  /* cursor: pointer; */
}

/* Если где-то внутри слайдера будут изображения,
  то нужно задать им pointer-events: none,
  чтобы они не перетаскивались мышью */

.catalog__card img {
  poiner-events: none;
}

.slider {
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.slider.grab {
  cursor: grab;
}

.slider.grabbing {
  cursor: grabbing;
}

.slider__line{
  display: flex;
}

.catalog__card__img {
  width: 200px;
  height: 200px;
  /* Чтобы слайды не сжимались */
  flex-shrink: 0;
  /* Увеличиваем и центрируем цифру внутри слайда */
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
}

/* .slider-panel {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top:50%;
  transform: translateY(-50%);
} */

.slider-panel {
  width: 100%;
  height: 100%;
  /* padding: 2px 10px; */
  /* border-radius: 10px; */
  /* left: 50%; */
  /* transform: translate(-50%,200%); */
  bottom: 0;
  /* background-color: rgba(43, 35, 35, 0.5); */
  display: flex;
  /* justify-content: center; */
  /* gap: 5px; */
  position: absolute;
  transition: 0.25s;
}


.slider-panelDotted{
  width: 50%;
  height: 5%;
  padding: 2px 10px;
  border-radius: 10px;
  left: 50%;
  transform: translate(-50%,200%);
  bottom: 10px;
  background-color: rgba(43, 35, 35, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: absolute;
  transition: 0.25s;

}
.slider:hover .slider-panelDotted {
  transform: translateX(-50%);
}

.sliderDotted__dotted{
  cursor: pointer;
  /* border-radius: 50%; */
  width: 15px;
  height: 7px;
  border: 1.2px solid black;
  box-sizing: border-box;
  transition: all 300ms;
}

.sliderDotted__dotted:hover {
  background-color: rgba(225, 225, 204, 0.916); 
}

.dotted {
  cursor: pointer;
  width: 100%;
  height: 100%;
  transition: all 300ms;
}

.dotted:hover {
  /* background-color: rgba(225, 225, 204, 0.916); */
  
}

.active {
  background-color: rgba(225, 225, 204, 0.916);
}

.gridShow{
  display: grid;
  width: 200px;
  height: 200px;
  grid-template-columns: repeat(5,1fr);
}
.grid__itemShow{
 border: 2px solid black;
}