

.authorForm {

    padding: 0 30px;
    margin: 30px auto;
    box-sizing: border-box;
  }

  .authorForm__wrapper{
   width: clamp(200px, 100%, 280px);
  }

  .authorForm__head{
    font-size: 3.2rem;
    letter-spacing: 1px;
    line-height: 4.3rem;
    text-transform: uppercase;
    --colorTxtComment: #606060;
    --f-family: "Myriad Pro";
    margin: 20px 0;
  }

  .authorForm_flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .authorForm__content {
  }
  .authorForm__content__pswd {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
  }

  .authorForm__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3.4rem auto;
    width: 14%;
    min-width: 35px;
    padding: 2rem 7.8rem;
    background-color: #f68236;
    transition: 0.25s;
    cursor: pointer;
  }
  .authorForm__submit :active {
    box-shadow: inset 0px 0px 20px 10px rgba(240, 159, 47, 0.6);
  }
  .authorForm__submit_txt {
    font-size: 1.4rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    font-family: "Myriad Pro";
  }
  .authorForm__submit :hover {
    background-color: #a44d12;
  }

  .authorForm__span {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 4.3rem;
    text-transform: uppercase;
    --colorTxtComment: #606060;
    --f-family: "Myriad Pro";
  }
  .authorForm__input {
    font-size: 1.8rem;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
  }

  .d-none{
    display: none;
  }